:root {
  font-size: clamp(14px, 1vw, 18px);
  --bg: #F9f3ee;
  --dark: #2a1a1a;
  --accent: #7b3f00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: serif;
  background: var(--bg);
  color: var(--dark);
  overflow-x: hidden;
}


.nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0.3rem 4%;
  position: relative;
}
.nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 1px;
  background-color: #4c4c4c38;
}
.logo img {
  width: clamp(32px, 4vw, 48px);
  height: auto;
}
.logo {
  background-color: #ffffffdb;
  display: inline-block;
  padding: 0; 
  border-radius: 7px;
}


.menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
  justify-content: right;
}

.menu a {
  position: relative;
  font-size: 16px;
  text-decoration: none;
  color: var(--dark);
  transition: color 0.3s ease; 
}

.menu a:hover {
  color: #1e2b38; 
}

.menu a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: #273440;
  transition: width 0.3s ease;
}

.menu a:hover::after {
  width: 100%;
}




.auth {
  display: flex;
  grid-auto-flow: column;
  gap: 1.2rem;
}



.btn-login {
  background: transparent;
  border: none;
  color: black;
  padding: 0.5rem 0.1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}
.btn-login:hover {
  color: #354d64;       
  transform: translateY(-3px); 
}

.auth-line {
  width: 1px;
  height: 18px; 
  margin-top: 5px;
  background-color: #6d6d6d;
}

.btn-signup {
  background: #1e2b38;
  color: white;
    margin-left: 19px;
     padding: 0.5rem 1.2rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;

}
.btn-signup:hover {
  transform: scale(1.05);      
  background-color: #273440;  
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


.hero {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 3rem;
  padding: 3rem 4%;
}

.unlock{
    font-size: clamp(3rem, 6vw, 5.5rem);
  line-height: 1.05;
  font-weight: 700;
  font-family: 'Allura', cursive;
  
  background: linear-gradient(
    90deg,
    #4b1638,
    #a05d50,
    #86cf7c
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.hero-text h1 {
font-size:6rem ;
  line-height: 1.05;
  font-weight: 700;
  
  background: linear-gradient(
    90deg,
    #4b1638,
    #a05d50,
    #86cf7c
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text h1 span {
  font-style: italic;
  font-weight: 400;
  display: block;
}


.hero-text p {
  margin: 1.5rem 0;
  max-width: 35rem;
  font-size: 22px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(120px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}
.card {
  background: #efe8df;
  text-align: center;
  padding: 0.5rem 0.1rem 0rem;

  border-top-left-radius: 100% 80%;
  border-top-right-radius: 100% 80%;

  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff00;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}
.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card img {
    margin-left: 27px;
    width: 70%;
    height: 140px;      
    margin-bottom: 0.5rem;
    transition: transform 0.3s ease;

}
.card:hover img {
  transform: scale(1.1); 
}


.card h3 {
  font-size: 1.2rem;
  margin:0.6rem 0.4rem 1.3rem;
}

.price {
    color: #ad9376;
    font-size: 23px;
    margin-top: auto;
margin-bottom: -1px;
  display: inline-block;
  background: #ffffff;
  padding: 0.6rem 1.2rem;
  border-radius: 999px 999px 0 0;  
  border-bottom: 1px solid #ffffff00;   font-weight: bold;
}



.start-btn {
  margin-top: 2.5rem;
  padding: 0.9rem 2.5rem;
  border-radius: 3rem;
  background: #1e1414;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  box-shadow: 0 0 0 4px #e7ddd3;
}


.start-btn:hover {
  background: var(--accent);
}

.hero-image {
    position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -15%;
}

.hero-image img {
  width: 90%;
  max-width: 457px;
}
.floating-img {
  position: absolute;
  top: 18%;    
  left: 8px;    
  width: 199px !important;    
  /* z-index: 2;       */
}
.barcode {
  position: absolute;
  bottom: 10%;                  
  left: 50%;
  transform: translateX(-50%);    
  width: 260px;                   
  z-index: 1;
  width: 95% !important;            
  padding: 17px;           

  background: #9898982b;    
  height: 15%;
  border-radius: 27px;     
}


@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-image {
    margin-top: 2rem;
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .menu {
    display: none;
  }
}

.bottom-nav {
  border-top: 1px solid #ddd;
  padding: 0.5rem 0;
  margin-top: 0;
}

.bottom-nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.bottom-nav li {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-weight: 600;
  color: #1e2b38;
}

.bottom-nav img {
  width: 53px;
}


.text{
    font-size: 15px;
}